<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="ADN"/>
    <meta name="description" content="Projet BP: adaptation PHP-JS"/>
    <link rel="stylesheet" href="public/css/styleOld.css"/>

    <title>Formulaire de création de Compte</title>
</head>
<body>
            
    <header>
<!--logo et nom banque-->
        <div class="logo">
            <img src="public/img/bplogo.png" alt="logo BP"/>
            <h2>Banque du Peuple</h2>
        </div>
<!--end of logo et nom banque-->

<!--nav-->               
       <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Ajouter un client</a>
                    <div class="dropdown-content">
                      <a href="ajoutClientPhysique">Client Physique</a>
                      <a href="ajoutClientMoral">Client Moral</a>
                    </div>
                </li>
                <li><a href="ajoutCompte">Ajouter compte</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Listes</a>
                    <div class="dropdown-content">
                      <a href="listePhysique">Liste des Clients Particuliers</a>
                      <a href="listeMoral">Liste des Clients Entreprises</a>
                      <a href="listeCompte">Liste des Comptes</a>
                    </div>
                </li>
                <li><a href="#">Virement</a></li>
                <li><a href="#">Assistance</a></li>
            </ul>
       </nav>
<!--end of nav--> 